
<body>

    <div class="container">

        <div class="page-header">
            <h1>Loading...</h1>
        </div>
        <div id='alert'></div>

        <div id='content'></div>

    </div>


    <script src="~/Scripts/app/search_bar.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/Company/upsert_company.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/Company/read_one_company.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/Company/delete_company.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/Company/company_table_row.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/Company/companies_table.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/Company/top_actions.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/Company/read_companies.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/main.component.js" type="text/babel">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/app/alert_message.component.js"></script>

</body>