
<body>

    <div class="container">

        <div class="page-header">
            <h1>Loading...</h1>
        </div>

        <div id='content'></div>

    </div>
    <script src="~/Scripts/app/Modules/User/upsert_user.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/User/read_one_user.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/User/delete_user.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/User/user_table_row.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/User/user_table.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/User/top_actions.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/Modules/User/read_users.component.js" type="text/babel">
    </script>
    <script src="~/Scripts/app/main.component.js" type="text/babel">
    </script>

</body>